* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifboto;
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1, h2 {
    text-align: center;
}

h1, h3 {
    padding-bottom: 4%;
}

h3, p {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 180px;
    background-image: url(../sources/images/autres/photo_header.jpg);
}

.logo {
    margin-top: 10px;
    opacity: 0.7;
}

header img {
    width: 150px; /*taille du logo */
}

body {
    background-color: whitesmoke;
    max-width: 100%;
    max-height: 100%;
}


main {
    margin: 5%;
    min-height: 500px;
}

.section {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}

.article {
    display: flex;
    flex-direction: column;
}

/* --- css page actualites --- */
.post-actu {
    margin-bottom: 3%;
    border: 1px solid grey;
}

.actu {
    display: flex;
    background: linear-gradient(rgb(143, 192, 26), whitesmoke);
    display: flex;
    justify-content: center;
}

.info-date-post-actu {
    font-weight: bold;
    display: block;
}

.publication-actu {
    display: flex;
    border-top: none;
}

.publication-actu p {
    margin: 0% 3%;
    display: flex;
    align-items: center;
}

/* ---------------------- */

.btn {
    border: none;
    background-color: rgb(143, 192, 26);
    border-radius: 5px;
    display: block;
    margin: auto;
    cursor: pointer;
    width: 150px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding : 10px;
}

.btn-danger {
    background-color: red;
}

.btnSup {
    border: none;
    background-color: red;
    border-radius: 5px;
    display: block;
    margin: auto;
    cursor: pointer;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.page-admin {
    display: flex;
    justify-content: space-evenly;
}

.image-animal {
    width: 200px;
    height: 250px;
}

/* ---------------------------------------- */

/* css -- navbar */

nav {
    margin: auto 0px; /* vertical | horizontal -- centrer la hauteur*/
}

nav ul {
	list-style: none;
	position: relative;
    background-color: white;
    opacity: 0.7;
}
	
nav ul li {
	display: inline-block;
}

nav a {
	display: block;
	color: black;
	font-size: 18px;
	text-decoration: none;
    padding: 20px;
}

nav a:hover { 
	background-color: rgb(143, 192, 26);
}

.dropdown-child {
    display: none; /*fait disparaitre le menu deroulant */
	position: absolute; 
}

nav ul li:hover > ul {
	display: initial; 
}
	
.dropdown-child li {
	display: list-item;
}

.menu-admin {
    font-weight: bold;
}

.formulaire img {
    max-width: 250px;
}
/* ---------------------------------------- */


/* la page d'acceuil */

.bloc-article {
    display: flex;
    border: 1px solid grey;
    padding: 4%;
    background-color: white;
}

.grid-item-acceuil {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

/* ---- page contact ----  */
.contact p {
    text-align: center;
}

.formulaire {
    width: 40%;
    margin: auto;
}

.form-control {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.btn-form {
    border: none;
    background-color: rgb(143, 192, 26);
    border-radius: 10px;
    padding: 2% 10%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 6%;
}

.form-group label {
    display: flex;
    text-align: left;
}

.form-group select {
    cursor: pointer;
}

/* ----  css - page pensionnaire  ---- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.grid-item {
    display: flex;
    border : 1px solid grey;
    padding: 5%;
    background-color: white;
}

.container-photo {
    display: flex;
    align-items: center;
}

.entente_animal {
    display: flex;
    justify-content: center;
}

.entente_animal p {
    background-color: rgb(143, 192, 26);
    border-radius: 5px;
    margin : auto 2%;
}

.info-age-sexe {
    display: flex;
    justify-content: center;
}

.trait-caractere {
    display: flex;
    justify-content: center;
}

/*  ----   css - page association   ----  */

.logo-page-asso {
    width: 400px;
}

.badge {
    padding: 5px;
    color: black;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 3%;
}

.alert-succes {
    background-color: rgb(120, 211, 108);
    padding: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    margin: auto;
    color: green;
}

.alert-danger {
    background-color: #ff8280;
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    margin: auto;
    color: red;
}

/* css -- Footer */
footer {
    background:#ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

/* -------- page login --------- */

@media (max-width: 1250px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }

    .logo-page-asso {
        width: 250px;
    }

    .section-accueil {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 750px) {
    .page_open{
        transform: translateX(-150px);
        transition: 0.8s;
    }

    .page_close{
        transform: translateX(-150px);
        transition: 0.8s;
    }

    header{
        width: 100%;
        height: 70px;
        background-color: #ccc;
        background-image: none;

    }

    header img {
        width: 50px; /*taille du logo */
    }

    .burger{
        width: 40px;
        cursor: pointer;
        display: block;
        margin-top: 35px;
    }

    .burger span{
        width : 100%;
        height: 4px;
        background-color: black ;
        display: flex;
        position: relative;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
    }

    .burger span::before, .burger span::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
        transition: transform 0.5s ease-in-out;
    }

    .burger span::before{
        transform: translateY(-10px);
    }

    .burger span::after{
        transform: translateY(10px); 
    }

    .burger.active span{
        background-color: transparent;
    }

    .burger.active span::before{
        transform: translateY(0px) rotateZ(45deg);
    }

    .burger.active span::after{
        transform: translateY(0px) rotateZ(-45deg);
    }

    .menu{
        display: block;
        position:absolute;  
        top: 0;
        right: 0;
        width: 150px;
        background-color: #ccc;
        padding-top: 40px;
        padding-left: 25px;
        text-decoration: none;
        margin-right: -180px;
        transition-duration: 0.8s;
        margin-top: 78px;
      }  

    .menu_open{
        margin-right: 0;
        transition-duration: 0.5s;
        height: 100%;
      }
      
    .menu a{
        color: black;
        font-family: sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 2px;
        text-align: left;
        padding-left: 0%;
        margin-bottom: 20px;
        text-decoration: none;
    }
    /* ------------------------------- */
  
    nav a {
        padding: 0px;
    }

    nav a:hover { 
        background-color: #ccc;
        font-weight: bold;
    }
    
    .dropdown-child {
        display: none; /*fait disparaitre le menu deroulant */
        position: relative;
        left: 10px;
        flex-direction: column;
    }
    
    nav ul {
        background-color: #ccc;
    }

    nav ul li:hover > ul {
        display: flex;
        position: relative;
    }

     /* page pensionnaire */
    .grid-item {
        display: flex;
        flex-direction: column;
    }
    /* ------------------------*/
    .publication-actu {
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        border-top: none;
    }

    .logo-page-asso {
        display: none;
    }    
    
    .bloc-article {
        display: flex;
        flex-direction: column;
    }

    .image-animal {
        margin: auto;
    }

    .formulaire {
        width: 80%;
        margin: auto;
    }

    .page-admin {
        display: flex;
        justify-content: none;
        flex-direction: column;
    }
    .btn-admin {
        margin-bottom: 10px;
    }
}